<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdg.system.mapper.SysDictDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wdg.system.entity.SysDictData">
        <id column="dict_code" property="dictCode" />
        <result column="dict_sort" property="dictSort" />
        <result column="dict_label" property="dictLabel" />
        <result column="dict_value" property="dictValue" />
        <result column="dict_type" property="dictType" />
        <result column="css_class" property="cssClass" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dict_code, dict_sort, dict_label, dict_value, dict_type, css_class, status, remark
    </sql>

</mapper>
