//覆盖element-plus样式


:root {
  --el-menu-text-color: #fff;
  --el-menu-hover-bg-color: #2867b4;
}

.el-menu {
  border-right: none;
  background-color: #304156;
}

.el-menu-item.is-active{
  //background-color: #2867b4;
}
